<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=768, user-scalable=no" media="(min-width:768px)">
    <meta name="viewport" content="width=767, initial-scale=0.5" media="(max-width:767px)">
    <title>e-Library | CMPS</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </head>
<body>
    <header class="navbar">
        <a href="#" class="logo">CMPS <span>&escr;</span>-Library</a>
        <nav>
            <ul class="nav__links">
                <li>
                    <a href="sign-in">Sign In</a>
                    <a href="#my_footer">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="input-box">
      <i class="uil uil-search"></i>
      <input type="text" id="search-query" placeholder="Search Books here..." />
      <button class="button" id="search-button">Search</button>
    </div>
    <section class="books">
      <h1 id="card-title"><b>Trending Collections</b></h1>
      <div class="card-container" id="card-container">
        <div class="card">
          <img src="https://cdn.kobo.com/book-images/07e6e6ff-c92f-413a-aaad-a9a00a671c92/1200/1200/False/the-martian-21.jpg" alt="" />
          <div class="overlay">
            <h2>The Martian</h2>
            <p>Andrew Taylor Weir</p>
          </div>
        </div>
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Wings_of_Fire_by_A_P_J_Abdul_Kalam_Book_Cover.jpg" alt="" />
          <div class="overlay">
            <h2>Wings of Fire</h2>
            <p>Dr. APJ Abdul Kalam</p>
          </div>
        </div>
        <div class="card">
          <img src="https://dcbookstore.com/uploads/product/images/44476287644115-daivathinte-charan.jpg" alt="" />
          <div class="overlay">
            <h2>Daivathinte Charanmar</h2>
            <p>Joseph Annamkutty</p>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <footer class="footer" id="my_footer">
      <div class="footer__addr">
        <h1 class="footer__logo">CMPS  <span>&escr;</span>-Library</h1>
        <h2 class="nav__title">About Us</h2>
          <p>Welcome to our school library, a haven for knowledge seekers. Our library is a treasure trove of books, a place where curiosity thrives, and imaginations take flight. Explore a world of stories, information, and discovery within these shelves. Join us in the pursuit of learning and adventure.</p>
      </div>
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Quick Links</h2>
          <ul class="nav__ul">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/sign-in">Sign In</a>
            </li> 
            <li>
              <a href="#my_footer">About Us</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>
          <ul class="nav__ul">
            <li>
              <a href="#my_footer">Privacy Policy</a>
            </li>
            <li>
              <a href="#my_footer">Terms of Use</a>
            </li>
            <li>
              <a href="#my_footer">Sitemap</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <h2 class="nav__title">Contact</h2>
          <ul class="nav__ul">
            <li>
                <a><span class="material-symbols-outlined">
                pin_drop
                </span> C.M.P.S, Aluva, Kerala.</a>
            </li>
            <li>
              <a href="#"><span class="material-symbols-outlined">
                alternate_email
                </span> mahilalayam@gmail.com</a>
            </li>
            <li>
              <a href="#"><span class="material-symbols-outlined">
                call
                </span> 0484-2631112</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="legal">
        <p>&copy; 2023 Something. All rights reserved.</p>
        <div class="legal__links">
          <!-- <span>Made with <span class="heart">❤️</span> remotely from Anywhere</span> -->
        </div>
      </div>
    </footer>
</body>
</html>
