<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=768, user-scalable=no" media="(min-width:768px)">
    <meta name="viewport" content="width=767, initial-scale=0.5" media="(max-width:767px)">
    <title>e-Library</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header class="navbar">
        <a href="#" class="logo">CMPS <span>&escr;</span>-Library</a>
        <nav>
            <ul class="nav__links">
                <li>
                    <a href="sign-in">Sign In</a>
                    <a href="#">{{ my_name }} <span class="material-symbols-outlined">
                        person
                        </span> </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="tab-stud">
        <input type="radio" class="tab-toggle" name="tab-toggle" id="tab1" checked>
        <input type="radio" class="tab-toggle" name="tab-toggle" id="tab2">
        <input type="radio" class="tab-toggle" name="tab-toggle" id="tab3">

        <ul class="tab-list">
            <li class="tab-item">
                <label class="tab-trigger" for="tab1">Issue Register (Active)</label>
            </li>
            <li class="tab-item">
                <label class="tab-trigger" for="tab2">Issue Register (Complete)</label>
            </li>
        </ul>
        <section class="tab-container">
            <div class="tab-content">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                            <th>Admission No.</th>
                            <th>Student Name</th>
                            <th>Book Title</th>
                            <th>Issue Date</th>
                            <th>Due Date</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-content">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                            <th>Admission No.</th>
                            <th>Student Name</th>
                            <th>Book Title</th>
                            <th>Issue Date</th>
                            <th>Return Date</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</body>
</html>