<h2>Issue Register</h2>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color:#2b1b18;
            color: #fff;
        }
    </style>
</head>
<body>
 
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Admission Number</th>
                <th>Book Title</th>
                <th>Issue Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Aneeka</td>
                <td>12345</td>
                <td>blah blah</td>
                <td>20/09/2023</td>
                <td>25/09/2023</td>
            </tr>
            
        </tbody>
    </table>
       
    </div>
</body>
</html>
