<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=768, user-scalable=no" media="(min-width:768px)">
    <meta name="viewport" content="width=767, initial-scale=0.5" media="(max-width:767px)">
    <title>e-Library | CMPS</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <header class="navbar">
        <a href="#" class="logo">CMPS <span>&escr;</span>-Library</a>
        <nav>
            <ul class="nav__links">
                <li>
                    <a href="sign-in">Sign In</a>
                    <a href="#">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="search-container">
        <select class="category-dropdown">
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
    <section class="books">
      <h1><b>Trending Collections</b></h1>
      <div class="card-container">
        <div class="card">
          <img src="https://cdn.kobo.com/book-images/07e6e6ff-c92f-413a-aaad-a9a00a671c92/1200/1200/False/the-martian-21.jpg" alt="" />
          <div class="overlay">
            <h2>The Martian</h2>
          </div>
        </div>
        <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Wings_of_Fire_by_A_P_J_Abdul_Kalam_Book_Cover.jpg" alt="" />
          <div class="overlay">
            <h2>Wings of Fire</h2>
          </div>
        </div>
        <div class="card">
          <img src="https://dcbookstore.com/uploads/product/images/44476287644115-daivathinte-charan.jpg" alt="" />
          <div class="overlay">
            <h2>Daivathinte Charanmar</h2>
          </div>
        </div>
      </div>
    </section>
    <hr />
</body>
</html>
